APP_URL=http://127.0.0.1:5000
DB_URL=jdbc:sqlite:prestige/instance/db.db
APP_USERNAME=admin
APP_PASSWORD=
HEADLESS=false
VIEWPORT_WIDTH=1024
VIEWPORT_HEIGHT=768
BROWSER_LOCALE=ru-RU
BROWSER_TYPE=chromium
SCREENSHOT_DIR=screenshots
